{% extends 'backorder_manager/base.html' %}

{% block title %}Awaiting delivery{% endblock %}
{% block waiting_active %}active{% endblock %}
{% block jumbo-header %}Awaiting delivery{% endblock %}
{% block jumbo-text %}These items have not yet been delivered{% endblock %}

{% block content %}
    <div class="container">
        {% if object_list %}
            {% include 'backorder_manager/paginator.html' %}
            <div class="row alert">
                <div class="col-sm-2">
                    <strong>
                        Supplier
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        Item
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        Quantity
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        Delivery date
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        Order
                    </strong>
                </div>
            </div>
                {% for item in object_list %}
                    <div class="row {% if item.delivery_date > date_today %}alert alert-info{% elif item.delivery_date < date_today %}alert alert-danger{% else %}alert alert-warning{% endif %}">
                        <div class="col-sm-2">
                            <a href="{% url 'supplier_detail' pk=item.supplier.id %}">{{ item.supplier }}</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="{% url 'item_update' pk=item.id %}">{{ item.name }}</a>
                        </div>
                        <div class="col-sm-2">
                            {{ item.quantity }}
                        </div>
                        <div class="col-sm-2">
                            <span class="{% if item.delivery_date > date_today %}text-muted{% elif item.delivery_date < date_today %}text-danger{% else %}text-warning{% endif %}">
                                {{ item.delivery_date }}
                            </span>
                        </div>
                        <div class="col-sm-2">
                            <a href="{% url 'order_details' pk=item.customer_order.id %}">{{ item.customer_order }}</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a href="{% url 'item_receive' pk=item.id %}" class="btn btn-primary "><strong>Item received</strong></a>
                        </div>
                    </div>
                {% endfor %}
            {% include 'backorder_manager/paginator.html' %}
        {% else %}
            <p class="alert alert-danger text-center">
                <strong>
                    There are no items in the database.
                </strong>
            </p>
        {% endif %}
    </div>
{% endblock %}