{% extends 'backorder_manager/base.html' %}

{% block title %}Supplier details{% endblock %}
{% block jumbo-header %}Supplier details{% endblock %}
{% block jumbo-text %}
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-5 col-sm-2 ">
                    {% if object.name %}<h3>{{ object.name }}</h3>{% endif %}
                    {% if object.customer_number %}<p>Customer number:<br/>{{ object.customer_number }}</p>{% endif %}
                    {% if object.email %}<p>Email:<br/>{{ object.email }}</p>{% endif %}
                    {% if object.phone %}<p>Phone number:<br />{{ object.phone }}</p>{% endif %}
                </div>
            </div>
        </div>
{% endblock %}