{% extends 'administration/admin-base.html' %}

{% block title %}Suppliers{% endblock %}
{% block jumbo-header %}Suppliers{% endblock %}
{% block jumbo-text %}
    <p>
        Create, edit or delete suppliers
    </p>
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4">
                    <p>
                        <a href="{% url 'administration:supplier_create' %}" class="btn btn-primary btn-lg btn-block">
                            <strong>
                                Create new supplier
                            </strong>
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        <a href="{% url 'administration:supplier_list' %}" class="btn btn-primary btn-lg btn-block">
                            <strong>
                                Edit or delete suppliers
                            </strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}