{% extends 'administration/admin-base.html' %}

{% block title %}Edit user{% endblock %}
{% block jumbo-header %}Edit user{% endblock %}
{% block jumbo-text %}{% endblock %}

{% block content %}
        <div class="container">
            {% if object_list %}
                <div class="row">

                    <div class="col-sm-offset-2 col-sm-2 text-center">
                        <strong>Username</strong>
                    </div>
                     <div class="col-sm-2 text-center">
                        <strong>Groups</strong>
                    </div>

                </div>
                    {% for user in object_list %}
                        <div class="row alert-info top-margin">
                            <div class="col-sm-offset-2 col-sm-2">
                                <p class="text-muted text-center">{{ user.username }}</p>
                            </div>
                            <div class="col-sm-2">
                                {% if user.groups.all %}
                                    {% for group in user.groups.all %}
                                        <p class="text-muted text-center">{{ group }}{% if forloop.last %}{% else %}, {% endif %}</p>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-danger text-center">None</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-2 text-center">
                                <a class="btn btn-primary margin" href="{% url 'administration:user_update' pk=user.id %}">
                                    <strong>
                                        Edit
                                    </strong>
                                </a>
                            </div>
                            <div class="col-sm-2 text-center">
                                <a class="btn btn-danger margin" href="{% url 'administration:user_delete' pk=user.id %}">
                                    <strong>
                                        Delete
                                    </strong>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            {% else %}
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <p class="alert alert-danger text-center">There are no users in the database.</p>
                    </div>
                </div>
            {% endif %}
        </div>
{% endblock %}