@font-face {
    font-family: Bungee-Regular;
    src: url('Bungee-Regular.ttf');
}


.navbar {
    border-radius: 0;
    margin: 0;
}

.col-sm-4 {

}

ul.nav {
    font-size: 0.8em;
}

.navbar-brand {
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.bgcolor {
    background-color: #eee;
}

.top-margin {
    margin-top: 1em;
}

.bottom-margin {
    margin-bottom: 1em;
}

.margin {
    margin: 3px;
}

.padding {
    padding: 3px;
}